aniso8601==3.0.2
certifi==2018.8.24
chardet==3.0.4
click==6.7
DateTime==4.2
Flask==1.0.2
flask-accept==0.0.6
Flask-RESTful==0.3.6
httplib2==0.11.3
hydra==0.1
idna==2.7
isodate==0.6.0
itsdangerous==0.24
Jinja2==2.10
lark-parser==0.6.4
lxml==4.2.4
MarkupSafe==1.0
PyLD==1.0.3
pymantic==0.2.2
pyparsing==2.2.0
pytz==2018.5
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.19.1
six==1.11.0
SPARQLWrapper==1.8.2
uritemplate==3.0.0
urllib3==1.23
Werkzeug==0.15.3
zope.interface==4.5.0
